@font-face {
    font-family: IosevkaNF;
    src: local("IosevkaNF"), url("../assets/IosevkaNerdFont-Medium.ttf");
}

html {
    overflow: hidden;
}

#card-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 1px solid red;
}

#top-bar {
    font-family: IosevkaNF, sans-serif;
    color: white;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
}

#vanta-bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
