html {
    overflow: hidden;
}

body {
    background-color: #24283b;
    backdrop-filter: blur(10px);
}

.carousel-caption {
    width: 100vw;
    border: 1px solid red;
    left: 0;
}

#carouselDemo {
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid white;*/
    height: 100vh;
}

img {
    /* height: 100vh; */
}

.carousel {
    margin: 0;
}
