@font-face {
    font-family: IosevkaNF;
    src: local("IosevkaNF"), url("../assets/IosevkaNerdFont-Medium.ttf");
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    from {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}

html {
    overflow: hidden;
}

body {
    margin: 0;
}

#vanta-bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

#main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    z-index: 2;
    color: #FFFFF7;
}

.display-5 {
    display: inline-flex;
    font-family: IosevkaNF, sans-serif;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
}

.navbar a {
    font-family: IosevkaNF, sans-serif;
    padding: 8px;
}

.navbar a:hover {
    cursor: pointer;
    color: lightgray;
}

#optionModal {
    font-family: IosevkaNF, sans-serif;
    backdrop-filter: blur(10px);
    color: white;
}

.modal-content {
    border: 1px solid white;
    border-radius: 0 30px 0 30px;
    text-decoration: none;
    background-color: #180c3e;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
}

.fs-4 {
    /*border: 1px solid white;*/
}

.icon-link {
    color: white;
}

#carousel {
    height: 50vh;
    width: 80vh;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: green;
}

.carousel-inner {
    border: 1px solid red;
    display: flex;
    justify-content: center;
}

.carousel-item {
    border: 1px solid black;
}