@font-face {
    font-family: IosevkaNF;
    src: local("IosevkaNF"), url("../assets/IosevkaNerdFont-Medium.ttf");
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    from {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}

html {
    overflow: hidden;
}

body {
    margin: 0;
}

#vanta-bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.container-fluid {
    display: grid;
    place-items: center;
    height: 100vh;
    z-index: 2;
    color: white;
}

.display-5 {
    display: inline-flex;
    /*border-right: solid white;*/
    font-family: IosevkaNF, sans-serif;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
    /*width: 0;*/
    /*animation:*/
    /*    typing 2s steps(21, end) forwards,*/
    /*    blink 1s infinite;*/
}

.nav {
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid white;
    width: auto;
}

.nav td {
    border: 1px solid white;
    padding: 10px;
}

